html{
    background-color: #CEA935;
}
h1{
    border-bottom: 1px dashed #212014;
}
body{
    background-color: rgb(228, 226, 199);
    color: #212014;
}
.listaPost{
    /**/
}
a{
    color: #212014;
}
a:visited{
    color:#9B975F;
}
a h1, a:visited h1{
    color: #212014;
}
.articolo{
    border-bottom: 1px dashed #4E4E4E;
}
.nav{
    border-bottom: 1px dotted #212014;
}
