@media (prefers-color-scheme: dark) {
html{
    background-color: #061B21;
}
h1{
    border-bottom: 1px dashed #fff;
}
body{
    background-color: #25454E;
    color: #fff;
}
.listaPost{
    /**/
}
a{
    color: white;
}
a:visited{
    color:rgb(47, 196, 194);
}
.articolo{
    border-bottom: 1px dashed #777;
}
a h1, a:visited h1{
    color: #fff;
}
.nav{
    border-bottom: 1px dotted #fff;
}
}
