@media print, screen and (monochrome), screen and (not(color)) {
    html, html * {
        background-color: #fff!important;
        font-family: monospace!important;
        color: #000!important;
        text-decoration: none!important;
    }
}
@media print {
    a::before {
        content: '[';
    }
    a::after {
        content: ']';
    }
    ul {
        margin: 0;: 0;
        list-style-type: none;
    }
    ul> li {
        text-indent: -5px;
    }
    ul > li:before {
        content: "- ";
        text-indent: -5px;
    }
    pre {
        border: 1px solid black;
    }
}