html{
    font-family: 'Bitter', "Bookerly", "Optima", "Roboto", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "American Typewriter", "Courier", "DejaVu Mono", "Courier New", monospace;
    font-weight: 600;
}
body{
    padding: 1em;
    border-radius: .3em;
    width:90%;
    display: block;
    margin: auto;
}
.listaPost{
    /**/
}
.info{
    font-style: italic;
    margin-bottom: .3em;
}
.articolo .corpo{
    text-align: justify;
    text-align-last: left;
}
.articolo .corpo p::first-letter{
    font-size: 2em;
    margin-right: .25rem;
    font-weight: bold;
    float: left;
}
.articolo .corpo p{
    clear: both;
}
.articolo .more{
    text-decoration: none;
    margin-bottom: .75em;
    display: block;
}
.articolo .more::after{
    content: '→';
    margin-left: .25em;
}
img{
    max-width: 75%;
    display: block;
    margin: 1em auto;
    box-shadow: 0 .5em 10px 2.5px #061b21;
    border-radius: .25em;
}
a h1, a:visited h1{
    text-decoration: none;
}
.nav a{
    display: inline-block;
    margin: 0 .5em;
}
pre {
    padding: .75em;
}
