<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eugenio Tampieri's blog{% block moretitle %}{% endblock moretitle %}</title>
    <link rel="stylesheet" href="/css/stile.css">
    <link rel="stylesheet" href="/css/chiaro.css">
    <link rel="stylesheet" href="/css/scuro.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/css/stampa.css">
</head>
<body>
    <h1><a href="/">Eugenio Tampieri's blog</a></h1>
    <div class="nav">
        <a href="https://eutampieri.eu">About me</a>
        {% block nav %}{% endblock nav %}
    </div>
    {% block main %}
    {% endblock main %}
    </div>
</body>
</head>
