{% extends "base.html" %}
{% block nav %}
{%for subsection_path in section.subsections%}
{% set subsection = get_section(path=subsection_path) %}
<a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
{% endfor %}
{% endblock nav %}
{% block main %}
{% for article in section.pages %}
<div class="post">
    <a href="{{article.permalink}}"><h2>{{article.title}}</h2></a>
    {% set pieces = article.content | markdown(inline=true) | split(pat="</p>") %}
    <p>{{pieces[0] | striptags }}</p>
</div>
{% endfor %}
{% endblock main %}